.container {
  min-height: 100vh;
  height: 100vh;
  display: flex;
}

.usernameWrapper {
  width: 100vh;
  display: flex;
  min-height: 100vh;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.usernameInner {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: rgba(256, 256, 256, 0.8);
  padding: 5rem;
  border-radius: 8px;
}

.usernameInner input,
.usernameInner button {
  font-size: 1.25rem;
}

.usernameInner button {
  margin-left: 1rem;
}